*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;;
}

.banner{
    background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/pexels-teddy-yang-2263436.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    min-height: 50vh;;
}

.banner .container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.banner h1{
    margin: 0 auto;
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
}

.banner p{
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #670BFF;
    transition: background 0.3s ease;
}

.selection {

    border: 1px solid black;
    border-radius: 25em;
    position: relative;
    top: -50px;
    background-color: white;
    width: 80%;
    margin: 1em auto;
}

.form-select{
    border: none;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
}

.event-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 24px;


}
.event-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    min-width: 30% ;
}
.event-card-img {
    background-size: cover;
}
.event-card-img > .event-image {
    max-width: 100%;
    background-size: cover;
}

.event-title {
    font-size: 1.25rem;
    margin: 10px 0;
}

.event-details {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #3333;
}

footer{
    display: block;
    background: #333;
    color: white;

    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
    padding: 12px;
    height: 25%;
}