<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/acceuil.css}">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mr-auto">
        <a class="navbar-brand" href=""><img th:src="@{/images/logo-white.png}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item"><a th:href="@{./login}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Venus</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Categories</a></li>
        </ul>
    </div>
</nav>
<header class="banner ">
    <div class="container vh-100">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">
                <h1>Self Event Management Script</h1>
                <p>Party Party!</p>
                <a href="" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</header>
<!-- DropDown Categorie-->
<!--<section class="selection">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-md-4">-->
<!--                <select class="form-select  border-bottom border-bottom-md-0 rounded-0 border-0 form-focus-none bg-transparent" required>-->
<!--                    &lt;!&ndash; options &ndash;&gt;-->
<!--                    <option selected disabled value="">City</option>-->
<!--                    <option value="jweb">Developpeur Web Junior</option>-->
<!--                    <option value="sweb">Developpeur Web Sénior</option>-->
<!--                    <option value="pmanager">Gestionnaire de projet</option>-->

<!--                </select>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4 ">-->
<!--                <select class="form-select  border-bottom border-bottom-md-0 rounded-0 border-0 form-focus-none bg-transparent" required>-->
<!--                    &lt;!&ndash; options &ndash;&gt;-->
<!--                    <option selected disabled value="">Category</option>-->
<!--                    <option value="jweb">Developpeur Web Junior</option>-->
<!--                    <option value="sweb">Developpeur Web Sénior</option>-->
<!--                    <option value="pmanager">Gestionnaire de projet</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4">-->
<!--                <select class="form-select  border-bottom border-bottom-md-0 rounded-0 border-0 form-focus-none bg-transparent" required>-->
<!--                    &lt;!&ndash; options &ndash;&gt;-->
<!--                    <option selected disabled value="">Price</option>-->
<!--                    <option value="jweb">Developpeur Web Junior</option>-->
<!--                    <option value="sweb">Developpeur Web Sénior</option>-->
<!--                    <option value="pmanager">Gestionnaire de projet</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section> &lt;!&ndash; End DropDown Categorie&ndash;&gt;-->

<!--Events Cards-->
<div class="event-background min-vh-100">
    <h3 class="text-center p-2 m-3">Top Selling Events</h3>
    <div class="event-cards-container ">
        <div class="event-card">
            <div class="event-card-img">
                <img class="event-image" th:src="@{/images/lee-blanchflower-1dW1vEJLlCQ-unsplash.jpg}" alt="Event Image">
            </div>
            <div class="event-card-body">
                <div class="event-card-title">
                    <h2 class="event-title">Event Title</h2>
                </div>
                <div class="event-card-details">
                    <p class="event-details">Price: $Event Price</p>
                    <p class="event-details">Location: Event Location</p>
                    <p class="event-details">Date: Event Date</p>
                    <p class="event-details">Start Time: Event Start Time</p>
                    <p class="event-details">End Time: Event End Time</p>
                </div>
                <a  th:href="@{./event}" class="register-button">Learn More</a>
            </div>


        </div>
        <div class="event-card">
            <img class="event-image" src="event_image.jpg" alt="Event Image">
            <h2 class="event-title">Event Title</h2>
            <p class="event-details">Location: Event Location</p>
            <p class="event-details">Date: Event Date</p>
            <p class="event-details">Start Time: Event Start Time</p>
            <p class="event-details">End Time: Event End Time</p>
            <p class="event-details">Price: $Event Price</p>
            <button class="register-button">Register</button>
        </div>
        <div class="event-card">
            <img class="event-image" src="event_image.jpg" alt="Event Image">
            <h2 class="event-title">Event Title</h2>
            <p class="event-details">Location: Event Location</p>
            <p class="event-details">Date: Event Date</p>
            <p class="event-details">Start Time: Event Start Time</p>
            <p class="event-details">End Time: Event End Time</p>
            <p class="event-details">Price: $Event Price</p>
            <button class="register-button">Register</button>
        </div>
        <div class="event-card">
            <img class="event-image" src="event_image.jpg" alt="Event Image">
            <h2 class="event-title">Event Title</h2>
            <p class="event-details">Location: Event Location</p>
            <p class="event-details">Date: Event Date</p>
            <p class="event-details">Start Time: Event Start Time</p>
            <p class="event-details">End Time: Event End Time</p>
            <p class="event-details">Price: $Event Price</p>
            <button class="register-button">Register</button>
        </div>
        <div class="event-card">
            <img class="event-image" src="event_image.jpg" alt="Event Image">
            <h2 class="event-title">Event Title</h2>
            <p class="event-details">Location: Event Location</p>
            <p class="event-details">Date: Event Date</p>
            <p class="event-details">Start Time: Event Start Time</p>
            <p class="event-details">End Time: Event End Time</p>
            <p class="event-details">Price: $Event Price</p>
            <button class="register-button">Register</button>
        </div>
        <div class="event-card">
            <img class="event-image" src="event_image.jpg" alt="Event Image">
            <h2 class="event-title">Event Title</h2>
            <p class="event-details">Location: Event Location</p>
            <p class="event-details">Date: Event Date</p>
            <p class="event-details">Start Time: Event Start Time</p>
            <p class="event-details">End Time: Event End Time</p>
            <p class="event-details">Price: $Event Price</p>
            <a class="register-button" th:href="@{./event}" >Read More</a>
        </div>
    </div>
</div>

<!-- footer -->
<footer>
    <p>© Event Management 2023</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>