<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/detail-evenement.css}">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a th:href="@{./acc}" class="nav-link">Home</a></li>
            <li class="nav-item"><a th:href="@{./login}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Venus</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Categories</a></li>
        </ul>
    </div>
</nav>


<!--<section class="event-sidebar">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col d-flex">-->
<!--                <select class="form-select  border-bottom border-bottom-md-0 rounded-0 border-0 form-focus-none bg-transparent" required>&ndash;&gt;-->
<!--                    &lt;!&ndash; options &ndash;&gt;-->
<!--                    <option selected disabled value="">City</option>-->
<!--                    <option value="jweb">Developpeur Web Junior</option>-->
<!--                    <option value="sweb">Developpeur Web Sénior</option>-->
<!--                    <option value="pmanager">Gestionnaire de projet</option>-->

<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

    <section id="event-details d-flex flex-column">
       <div class="container">
            <div class="row ">
                <div class="col d-flex flex-column h-25 pt-3 mt-4 justify-content-center align-content-center">
                    <h2 class="text-center">Events Information</h2>
                    <div class="event-img text-center">
                        <img th:src="@{https://source.unsplash.com/random/550x600}" alt="">
                    </div>
                    <div class="event-details-body ">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Porro, minus! Impedit nesciunt itaque voluptate nobis fugit omnis
                            laborum dicta quo cum debitis rem voluptatibus asperiores, unde illo ipsa
                            quod error ratione aliquid excepturi reiciendis cumque repellat? Aliquam provident
                            corporis ducimus?
                        </p>
                        <p>Date: </p>
                        <p>Time</p>
                        <p>End Time</p>
                        <p>Number of Attendants</p>
                        <p>Location</p>
                        <!-- if not register ask user to signup or if already sign up , then login -->
                        <!-- validate user's credential-->
                        <!-- redirect user if login is successful-->
                        <a th:href="@{./profil}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



<!-- footer -->
<footer>
    <p>© Event Management 2023</p>
</footer>
</body>
</html>