<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<!--Navbar-->
<nav class="nav">
  <div class="navbar">
    <input type="text" placeholder="Search">
    <a href="homepage.html">Home</a>
    <a href="#">Events</a>
    <a href="login.html">Login</a>
    <a href="#">SignUp</a>
  </div>
</nav>

<!--Banner-->
<header class="container ">
  <div class="banner d-flex p-5"  >
    <div class="banner-slogan">
      <h1>Energizing Experiences, Empowering Connections: Activities, Conferences and Events!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis blanditiis ratione molestiae voluptates reiciendis atque. Consequatur ipsa nesciunt vitae?</p>
      <button class="btn btn-primary"> See events </button>
    </div>
    <div class="banner-img">
      <img class="schedule" src="./images/events.svg" alt="">
    </div>
  </div>
</header>


<!--Categories-->

<div class="category">
  <div class="container">
    <div class="card-category">
      <i class="fa-solid fa-music"></i>
    </div>
    <div class="card-category">

    </div>
    <div class="card-category">

    </div>
  </div>

</div>

<!--Events Cards-->
<div class="container">
  <div class="event-cards-container">

    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button  class="register-button">Register</button>
    </div>
    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button class="register-button">Register</button>
    </div>
    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button class="register-button">Register</button>
    </div>
    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button class="register-button">Register</button>
    </div>
    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button class="register-button">Register</button>
    </div>
    <div class="event-card">
      <img class="event-image" src="event_image.jpg" alt="Event Image">
      <h2 class="event-title">Event Title</h2>
      <p class="event-details">Location: Event Location</p>
      <p class="event-details">Date: Event Date</p>
      <p class="event-details">Start Time: Event Start Time</p>
      <p class="event-details">End Time: Event End Time</p>
      <p class="event-details">Price: $Event Price</p>
      <button class="register-button">Register</button>
    </div>
  </div>

</div>
</div>

<!-- footer -->
<footer>
  <p>© Event Management 2023</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/757e4485a2.js" crossorigin="anonymous"></script>
</body>
</html>